cd /home/healthby-app/
source ~/.nvm/nvm.sh
cd /home/healthby-app/htdocs/app.healthby.ai/
git pull origin main
cd /home/healthby-app/htdocs/app.healthby.ai/nuxt/
npm install
npm run build
pm2 restart app-healthby
